:root {
  --main_background: #19121c;
  --block_background: #201a24;
  --primary: #ff51f4;
  --highlight: #27212e;
  --secondary-text: #c4c4c4;
  --dark-shadow: 0px 0px 10px 0px #201722;
  --pink-shadow: 0px 0px 10px 0px #ff51f4;
}
/* 
* Font: Roboto
*   Available weights: 100, 300, 500
*/

* {
  font-family: "Roboto", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--main_background);
  width: 100vw;
  height: calc(100vh - 10px);
  margin: 0;
  padding-top: 10px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.main {
  width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
.logo__wrapper {
  height: 70px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--block_background);
  border-radius: 20px;
  display: flex;
  text-decoration: none;
  box-shadow: var(--dark-shadow);
}
.logo__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.logo__wrapper--right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo__wrapper--left {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftcol {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo__title {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 0;
}

.logo__phrase {
  font-weight: 100;
  color: white;
  font-size: 15px;
}
.col__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.col__link {
  display: inline-flex;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.3s ease;
}

.col__link__text {
  color: white;
  font-size: 16px;
}

.col__link__active .col__link__text {
  color: var(--primary);
}
.col__link__image {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(165deg)
    brightness(101%) contrast(102%);
}
.col__link__active .col__link__image,
.col__link:hover .col__link__image {
  filter: invert(44%) sepia(98%) saturate(1778%) hue-rotate(285deg)
    brightness(108%) contrast(107%);
}
.col__link:hover .col__link__text {
  color: var(--primary);
}

.centercol {
  width: 800px;
  height: calc(100vh - 10px);
}

.centercol__content {
  background-color: var(--block_background);
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px #201722;
}

.rightcol {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightcol__user {
  width: inherit;
  height: 200px;
}
.rightcol__user--name {
  font-size: 36px;
  width: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rightcol__user__info {
  height: 100%;
  width: 100%;
  backdrop-filter: brightness(0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 20px;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.rightcol__reading__stats--row {
  font-weight: 300;
}
.rightcol__reading__stats--bolder {
  font-weight: 500;
}

.book__preview__wrapper {
  display: flex;
  justify-content: space-between;
}

.book__preview__image__wrapper {
  width: 180px;
  height: 280px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: var(--dark-shadow);
}

.book__preview__image {
  height: 100%;
  transition: 0.3s ease;
}

.book__preview__image__wrapper:hover .book__preview__image {
  height: 110%;
  filter: brightness(0.7);
}

.book__preview__content {
  width: 590px;
  height: 280px;
  background-color: var(--highlight);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: var(--dark-shadow);
}

.book__preview__content__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book__preview__title {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  width: 550px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book__preview__author {
  color: var(--secondary-text);
  text-decoration: none;
  font-size: 12px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book__preview__content__genres {
  display: flex;
  justify-content: start;
  gap: 10px;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 50px;
}
.genre_link {
  display: inline-block;
  background-color: #424242;
  height: 20px;
  padding: 0 10px;
  line-height: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.book__preview__content_description {
  max-height: 100px;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  font-style: normal;
}

.book__preview__content__button {
  height: 30px;
  width: 150px;
  border: 1px solid var(--primary);
  border-radius: 20px;
  color: var(--primary);
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
}
.book__preview__content__button:hover {
  background-color: var(--primary);
  color: #fff;
}
