:root {
  --main_background: #111;
  --block_background: #232323;
  --primary: #fb0d8d;
  --primary_dark: #2f0c29;
}
/* 
* Font: Roboto
*   Available weights: 100, 300, 500
*/

#root {
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--main_background);
  width: 100vw;
  height: calc(100vh - 10px);
  margin: 0;
  padding-top: 10px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.main {
  width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
.logo__wrapper {
  height: 70px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--block_background);
  border-radius: 20px;
  display: flex;
}
.logo__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.logo__wrapper--right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo__wrapper--left {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftcol {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo__title {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 0;
}

.logo__phrase {
  font-weight: 100;
  color: white;
  font-size: 15px;
}
.col__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.col__link {
  display: inline-flex;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.3s ease;
}

.col__link__text {
  color: white;
  font-size: 16px;
}

.col__link__active {
  background-color: var(--primary_dark);
}

.col__link:hover {
  background-color: var(--primary_dark);
  box-shadow: 0px 0px 10px 0px var(--primary);
}

.centercol {
  width: 800px;
  height: calc(100vh - 20px);
}

.centercol__content {
  background-color: var(--block_background);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.rightcol {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightcol__user {
  width: inherit;
  height: 200px;
}
.rightcol__user--name {
  font-size: 36px;
  width: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rightcol__user__info {
  height: 100%;width: 100%;
  backdrop-filter: brightness(0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 20px;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.rightcol__reading__stats--row {
  font-weight: 300;
}
.rightcol__reading__stats--bolder {
  font-weight: 500;
}