# Logs
*/logs

# Dev dirs
*/node_modules
*/uploads/*
*/server/utils/ca-certificate.crt
*/server/utils/config.json

# Dev Files
*/public
*.DS_Store
*.DS_Store?
*/*.DS_Store
*/*.DS_Store?
*/.DS_Store
*/.DS_Store?
.DS_Store