@import url(./rule.css);

/* Globaly rules */

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  transition: 0.2s ease;
}

/* Body and main content block */

body,
.body,
#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color__main-background);
}

.body__items {
  max-width: var(--size__desctop-width);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}

.body__item-sidebar {
  max-width: var(--size__sidebar-width);
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.sidebar__fixed {
  max-width: var(--size__sidebar-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
}

.body__item-content {
  flex: 3;
  width: 100%;
  height: 2000px;
  margin: 10px;
  display: flex;
}

/* Blocks properties */

.block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: var(--size__border-radius);
}

.block-unpadding {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: var(--size__border-radius);
}

.block_column {
  flex-direction: column;
}

.block_toggle-background {
  background-color: var(--color__toggle-background);
}

/* Sidebars */

.sidebar__header-block {
  width: 100%;
  height: 60px;
}

.sidebar__nav-block {
  padding: 0 20px;
}

.sidebar__nav-block,
.nav-block__list {
  width: 100%;
}

.list__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
  border-radius: var(--size__border-radius);
}

.sidebar__activity-block {
  gap: 20px;
}

.activity-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.activity-list .list-item {
  /* width: calc(100% / 3);
  padding: 5px; */
  flex: 1;
}

.activity-img {
  width: 100%;
  object-fit: contain;
  border-radius: calc(var(--size__border-radius) / 2);
}

.sidebar__profile-block {
  width: 100%;
  height: 200px;
  position: relative;
}

.profile-block__img {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  object-fit: cover;
  filter: brightness(0.3);
  border-radius: var(--size__border-radius);
}

.profile-block__info {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Content */

.item-content__content {
    width: 100%;
    flex-direction: column;
}

/* Logo's */

.logo_small {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.logo-text {
  color: var(--color__status_static);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.logo-text_small {
  font-size: 16px;
}
.logo-text_middle {
  font-size: 18px;
}
.logo-text_big {
  font-size: 20px;
}

/* Texts */

.text {
  color: var(--color__status_static);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.text_small {
  font-size: 14px;
}
.text_middle {
  font-size: 16px;
}
.text_big {
  font-size: 18px;
}

.text_bold {
  font-weight: bold;
}

.text_hover:hover {
  color: var(--color__status_active);
}

.text-title {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
