@import url(./rule.css);

/* Globaly rules */

::-webkit-scrollbar {
  width: 0;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  color: var(--color__status_static);
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  transition: 0.2s ease;
}

/* Body and main content block */

body,
.body,
#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  background-color: var(--color__main-background);
}

.body-container {
  max-width: var(--size__page-width);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.body__sidebar {
  width: 310px !important;
  /* width: 100%; */
}

.body__content {
  max-width: 640px;
  width: 100%;
}

.body__block-content {
  max-width: 400px;
  width: 100%;
}

.nav__items {
  border: 0 transparent;
  border-radius: var(--size__border-radius);
  background-color: transparent;
}
/* 
.nav__items:hover {
  background-color: var(--color__component-background)
} */

/* .nav__items:hover a,
.nav__items:hover i {
  color: var(--color__status_active);
}

.nav__items:hover i {
  background-color: var(--color__status_active);
} */
.sidebar__profile {
  height: 200px;
  position: relative;
}

.sidebar__profile-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: brightness(0.3);
  border: 0 transparent;
  border-radius: var(--size__border-radius);
  z-index: 1;
}

.sidebar__profile-info {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.content__filter {
  width: auto !important;
}

.content__filter-sort {
  max-width: 90px;
}

/* Blocks */

.block {
  width: 100%;
  border: 0 transparent;
  border-radius: var(--size__border-radius);
  padding: 20px;
}

.block_nopadding {
  padding: 0;
}

.block_component {
  padding: 10px 20px 10px 20px;
}

.block_bg {
  background-color: var(--color__component-background);
}

.block_component_bg {
  background-color: var(--color__toggle-background);
}

/*  */

.books-container__poster-container {
  position: relative;
}

.poster-container__img,
.books-container__poster-container {
  width: 180px;
  height: 280px;
  object-fit: cover;
  border-radius: var(--size__border-radius);
}

.poster-container__rating {
  width: 60px;
  height: 30px;
  background-color: var(--color__status_white);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 0 20px;
}

.poster-container__favorite {
  width: 60px;
  height: 30px;
  background-color: var(--color__status_white);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 20px 0;
}

.poster-container__status {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 20px 20px;
}
.poster-container__status_main {
  background-color: var(--color__status_white);
}

.poster-container__status_finished {
  background-color: var(--color__status_finished);
}

.poster-container__status_disused {
  background-color: var(--color__status_disused);
}

.poster-container__status_unfinished {
  background-color: var(--color__status_unfinished);
}

.books-container__info {
  min-height: 280px;
}

.genre {
  width: auto;
}

/* Margins paddings */

.mg_05 {
  margin: 5px;
}
.mg_1 {
  margin: 10px;
}
.mg_2 {
  margin: 20px;
}
.mg_l_1 {
  margin-left: 10px;
}
.mg_l_2 {
  margin-left: 20px;
}
.mg_r_1 {
  margin-right: 10px;
}
.mg_r_2 {
  margin-right: 20px;
}
.mg_t_1 {
  margin-top: 10px;
}
.mg_t_2 {
  margin-top: 20px;
}
.mg_b_1 {
  margin-bottom: 10px;
}
.mg_b_2 {
  margin-bottom: 20px;
}

.p_1 {
  padding: 10px;
}
.p_2 {
  padding: 20px;
}
.p_l_1 {
  padding-left: 10px;
}
.p_l_2 {
  padding-left: 20px;
}
.p_l_3 {
  padding-left: 30px;
}
.p_r_1 {
  padding-right: 10px;
}
.p_r_2 {
  padding-right: 20px;
}
.p_r_3 {
  padding-right: 30px;
}
.p_t_05 {
  padding-top: 5px;
}
.p_t_1 {
  padding-top: 10px;
}
.p_t_2 {
  padding-top: 20px;
}
.p_b_05 {
  padding-bottom: 5px;
}
.p_b_1 {
  padding-bottom: 10px;
}
.p_b_2 {
  padding-bottom: 20px;
}
/* Text */

.text {
  color: var(--color__status_static);
  font-family: sans-serif, "Roboto";
  font-size: 16px;
}

.text_white-alw {
  color: var(--color__status_white);
}

.text_white {
  color: var(--color__status_static);
}

.text_grey {
  color: var(--color__status_disable);
}

.text_dark {
  color: var(--color__status_blocked);
}

.text_black {
  color: var(--color__status_black);
}

.text_bold {
  font-weight: bold;
}

.text_medium {
  font-weight: normal;
}

.text_light {
  font-weight: lighter;
}

.text_smallest {
  font-size: 10px;
}

.text_small {
  font-size: 12px;
}

.text_small-medium {
  font-size: 13px;
}

.text_medium {
  font-size: 14px;
}

.text_normal {
  font-size: 16px;
}

.text_big {
  font-size: 18px;
}

.text_biggest {
  font-size: 22px;
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

.text_center {
  width: 100%;
  text-align: center;
}

.text_justify {
  text-align: justify;
}

/* Flex */

.flex {
  display: flex;
}

.flex_wrap {
  flex-wrap: wrap;
}

.flex_row {
  flex-direction: row;
}

.flex_col {
  flex-direction: column;
}

.flex_al_c {
  align-items: center;
}

.flex_al_s {
  align-items: flex-start;
}

.flex_al_e {
  align-items: flex-end;
}

.flex_j_c {
  justify-content: center;
}

.flex_j_sb {
  justify-content: space-between;
}

.flex_j_s {
  justify-content: flex-start;
}

.flex_j_e {
  justify-content: flex-end;
}

/* Logo */

.logo {
  width: 30px;
  height: 30px;
}

/* Icons */

.icon_circle {
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--color__status_static);
  border-radius: 50%;
}

/* Button */

.btn,
.input {
  border: 2px transparent solid;
  border-radius: var(--size__border-radius);
  padding: 5px 30px 5px 30px;
  user-select: none;
}

.input {
  background-color: var(--color__toggle-background);
}

.input:focus {
  cursor: pointer;
  border-color: var(--color__status_active);
}

.btn_active {
  background-color: var(--color__status_active);
}

.btn_active:hover {
  border-color: var(--color__status_active);
  color: var(--color__status_active);
}

.btn_black {
  background-color: transparent;
  border-color: var(--color__status_disable);
  color: var(--color__status_disable);
}

.btn:hover {
  cursor: pointer;
  background-color: transparent;
}

.btn_black:hover {
  border-color: var(--color__status_static);
  color: var(--color__status_static);
}

/* Links */

.link:hover {
  color: var(--color__status_active);
}
